// Text Colors
:root {
  --text-primary-color: #E9E9E9;
  --text-secondary-color: #B0B0B0;
  --text-tertiary-color: #707070;
  
  // Background Colors
  --background-primary-color: #0C0C0D;
  --background-secondary-color: #141415;
  --background-tertiary-color: #1D1D1E;
  --background-footer-color: #0A0A0B;

  // Accent Colors
  --accent-color: #FF9283;
  --accent-color-underline: #ff9283B2;
  
  // Fonts
  --font-stack: 'Inter', sans-serif;

  // Spacing
  --page-margin: 6.25%;  
  --column-gap: 0.8333%;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 24px;
  --space-xl: 96px;
  --space-xxl: 128px;
}